body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}
.container {
  max-width: 900px;
  margin-top: 50px;
  border: 1px solid #c9c9c9;
  width: 80%;
}
.close {
  position: relative;
  top: -30px;
  right: -340px;
}

a {
  margin: 20px 20px;
}

.form {
  text-align: left;
  margin: 20px;
}

#site-search {
  position: relative;
  width: 30%;
  padding: 5px;
  top: 3px;
}
.container1 {
  border: none;
  margin-left: 50px;
}
.city_name {
  font-weight: bold;
  font-size: 30px;
}

.table1 {
  display: inline;
  font-size: 40px;
}
.table2 {
  display: inline;
  font-size: 20px;
  border-style: none;
}
.temp {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: -20px;
}

.precipitation {
  text-align: right;
  position: relative;
  top: -50px;
  left: 400px;
}

.table {
  border: none;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
}
